
* { box-sizing: border-box; 
    margin:0;
    padding:0;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

html, body {
 /*  height:100%; */ 
}



.header  {
    width:100%;
    height:0;
    top:0;
    z-index:1000;
}


/* #contents inside mainbox */
#contents { 
    width: 100%;

}

footer {
    height:5%;
    width:100%;
    position:fixed;
    bottom: 0;
    
}
footer .text {
    width:100%;
    text-align:center;
}

.footerbgrbox {
    height:40px;
    clear:both;
}
/* overall box-layout ***********************/


.ingresbox {
    margin:2% 0% 4% 3%;
    float:left;
    width:32%;
    padding: 20px 10px;
    text-align:center;
}
/*********************************************/

.skillsbox {     
    margin:2% 0% 4% 2%;
    float:left;    
}
.skillsbox.left {
    width: 35%;
}
.skillsbox.right {
    width:23%;
    margin-bottom:0;
}
/*********************************************/
.ingres {
    width: 80%;
    margin: auto;
}

.portraitimage {
    width:100%;
    margin:3% auto;
    overflow:hidden;
    position:relative;
    margin-bottom:20px;
}
.portraitimage img {
    width:50%;
    height:auto;
}
/*********************************************/

.skillscard {
    margin-bottom:10px;
    padding: 15px;
}

.technologycard {
    margin-bottom:10px;
    padding: 15px;
    text-align:center;
    float:left;
    width:100%;

}
.technologycard.text p {
    text-indent:0;
}
.technologycard .label {
    margin-bottom:10px;
}

/*********************************************/
